---
---
@charset "utf-8";
// Your custom css /scss here


// Your custom css /scss here

// Pre doesn't wrap anymore
pre {
  word-wrap: normal;
  word-break: normal;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}


@font-face {
  font-family: 'Mona Sans';
  src:
    url('https://cdn.jsdelivr.net/gh/dieghernan/chulapa@master/assets/fonts/Mona-Sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/dieghernan/chulapa@master/assets/fonts/Mona-Sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}


@font-face {
  font-family: 'Hubot Sans';
  src:
    url('https://cdn.jsdelivr.net/gh/dieghernan/chulapa@master/assets/fonts/Hubot-Sans/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/dieghernan/chulapa@master/assets/fonts/Hubot-Sans/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}


.chulapaDateSocial time, .chulapaDateSocial .chulapa-text-line-through {
  font-family: 'Roboto Mono', monospace;
}

.chulapaDateSocial a{
  color: #1da1f2;
}