// Adapted from Bootstrapius
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;300;400;500;700&display=swap");

$font-family-base: "Roboto" !default;
$font-family-monospace: "Roboto Mono" !default;
$headings-font-weight: 700 !default;
$body-bg: rgb(40, 42, 54);
$body-color: rgb(248, 248, 242);
$primary: #9B8BA6 !default;
$green: #97bf13 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$success: #40A363 !default;
$info: #3795b9 !default;
$danger: #cb4363 !default;
$headings-color: darken($body-color, 5%) !default;
$link-color: $primary !default;
$navbar-chulapa-brand-color: $primary !default;
$navbar-chulapa-bg-color: $body-bg !default;
$navbar-chulapa-toggler-color: $primary !default;
$navbar-chulapa-active-color: $primary !default;
$hero-chulapa-bg-color: $body-bg !default;
$hero-chulapa-text-color: $body-color !default;
$footer-chulapa-bg-color: $body-bg !default;
$footer-chulapa-text-color: $headings-color !default;
$footer-chulapa-icon-color: $headings-color !default;
$footer-chulapa-icon-hover-color: #724599 !default;

// Lines for dark themes

@import "skins/dark-bg";


h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 700 !important;
}

.splash-chulapa, .hero-chulapa, .header-chulapa {
  color: $body-bg;
}

.header-chulapa {
  text-align: center;
}


// Remove rules
header hr {
  display: none;
}


// Navbar

.navbar {

   .navbar-brand {
     font-weight: 700 !important;
     text-transform: uppercase;
     letter-spacing: 0.08em;
   }
   .navbar-nav {
     text-transform: uppercase;
     text-decoration: underline;
     letter-spacing: 0.08em;
   }
}


// Misc

th, .btn, .chulapa-toc-wrapper, .chulapa-subtitle, .breadcrumb, #markdown-toc {
  text-transform: uppercase;
}

.language-plaintext {
  color: $green;
}


a:hover, a:focus {
    color: $footer-chulapa-icon-hover-color;
    text-decoration: underline;
}
