---
layout: minimal
---
	{% include components/headers.html headertype= page.header_type imghero=page.header_img projects=page.project_links %}
	<main class="container-lg pb-3 flex-fill">
	  {% if page.show_breadcrumb or page.show_date or page.show_sociallinks -%}
	  {%- include components/breadcrumbdatesocial.html -%}
	  {% endif %}
		<div class="row pt-2">
			<aside class="col-lg-2 mt-lg-3 small">
			  {%- if page.show_author -%}
			  {% include components/author.html %}
			  {%- endif -%}
			</aside>
			<article id="maincontent" class="col-lg-8 mt-3">
			
<style>

.chulapa-btn-sidebar {
  top: 60vh;
  left: 0;
  opacity: 0.4;
  z-index: 1099;
}
.bs-canvas-overlay {
   opacity: 0;
   z-index: -1;
}

.bs-canvas-overlay.show {
   opacity: 0.15;
   z-index: 1100;
}


.bs-canvas {
   top: 0;
   width: 330px;
   margin-left: -330px;
   z-index: 1110;
   overflow-x: hidden;
   overflow-y: auto;
}

.bs-canvas-left {
   left: 0;
}

.bs-canvas-anim {
   transition: all .4s ease-out;
   -webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
   -ms-transition: all .4s ease-out;
}

</style>



	{% assign h_min = page.h_min | default: 2 %}
                           {% assign h_max = page.h_max | default: 4 %}
                           
                           
     	<button class="close position-fixed chulapa-btn-sidebar disabled px-2" id='demo' onclick="openSideBar()" aria-label="Open Sidebar"><i class="fa-solid fa-bars-staggered"></i>
        	<span class="sr-only">Open Sidebar</span>
        </button>

			<div class="bs-canvas bs-canvas-anim bs-canvas-left position-fixed navbar-chulapa h-100" id='sideBar'>
	<p class="p-3">
        <button type="button" class=" 
        navbar-text close" aria-label="Close" onclick="closeSideBar()"><i class="fa-solid fa-times"></i>
        	<span class="sr-only">Close Sidebar</span></button>
    </p>
    <nav class="navbar-nav px-2 my-auto">
			
			{% include components/toc.html sanitize=false html=content h_min=h_min h_max=h_max skip_no_ids=true id="sidetoc" class="nav.flex-column" item_class="nav-item.nav.d-block" anchor_class="nav-link" %}
			    </nav>    
</div>
<script>

function cleanup() {
  var sB = document.getElementById("sidetoc");

 if (sB) {
   console.log('Detected');
 } else {
   document.getElementById("demo").remove();
   document.getElementById("sideBar").remove();
 }

}

window.addEventListener('load', cleanup);


function openSideBar() {
console.log(window.innerWidth);
var iDiv = document.createElement('div');
iDiv.classList.add('bs-canvas-overlay', 'bs-canvas-anim', 'bg-dark', 'position-fixed', 'w-100', 'h-100', 'show');
iDiv.setAttribute('id', 'sideBarOverlay');
iDiv.onclick = closeSideBar();

document.getElementById("demo").classList.add('d-none');

document.getElementById("body").classList.add('bs-canvas-anim');
document.getElementById("body").style.overflowX ='hidden';
if (window.innerWidth >= 576) {
document.getElementById("body").style.marginLeft='330px';
//document.getElementById("body").style.marginRight='-330px';
} else {
document.getElementById("body").prepend(iDiv);
}
document.getElementById("sideBar").style.marginLeft='0';
return false
}

function closeSideBar() {

document.getElementById("sideBar").removeAttribute('style');
var sB = document.getElementById("sideBarOverlay");

 if (sB) {
   sB.remove();
 }
 
document.getElementById("body").removeAttribute('style');

document.getElementById("demo").classList.remove('d-none');

return false
}

</script>


			 {% if page.show_toc %} 
			               {% assign h_min = page.h_min | default: 2 %}
                           {% assign h_max = page.h_max | default: 4 %}
             <nav aria-labelledby="table-of-contents">
			 {% include components/toc.html sanitize=false html=content h_min=h_min h_max=h_max skip_no_ids=true id="toc" class="chulapa-toc-wrapper.list-group.mb-5.mx-3.mx-lg-5" item_class="list-group-item.font-weight-bold.py-1.pr-0.mr-0.chulapa-toc-reset" %}
			 </nav>
			  {% endif %}
			{{- content -}}
			</article>
		</div>
	</main>
	{%- if page.show_related -%}
	  {%- include components/related.html -%}
	{%- endif -%}
	{%- if page.show_bottomnavs -%}
	  {%- include components/navbeforeafter.html -%}
	{%- endif -%}
	{%- if page.show_categories -%}
		{% assign size = page.categories | size %}
		{% if size > 0 %}
  	{%- include components/categories.html-%}
  	{% endif %}
	{%- endif -%}
	{%- if page.show_tags -%}
		{% assign size = page.tags | size %}
		{% if size > 0 %}
	  {%- include components/tags.html-%}
	  {% endif %}
	{%- endif -%}