---
layout: minimal
---
	{% include components/headers.html headertype= page.header_type imghero=page.header_img projects=page.project_links %}
	<main class="container-lg pb-3 flex-fill">
	  {% if page.show_breadcrumb or page.show_date or page.show_sociallinks -%}
	  {%- include components/breadcrumbdatesocial.html -%}
	  {% endif %}
		<div class="row pt-2">
			<aside class="col-lg-2 mt-lg-3 small">
			  {%- if page.show_author -%}
			  {% include components/author.html %}
			  {%- endif -%}
			</aside>
			<article id="maincontent" class="col-lg-8 mt-3">
			
<style>

.chulapa-btn-sidebar {
  top: 75vh;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s linear;
  z-index: 1099;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.chulapa-btn-sidebar.has-toc {
  visibility: visible;
  opacity: 0.4;
}

.chulapa-btn-nofocus.close {
  text-shadow: none;
  opacity:0.6;
}

.chulapa-btn-nofocus.close:before {    
    content: "" !important;
}

.chulapa-btn-nofocus:focus {
    outline: 0;
	text-shadow: none;
}
.bs-canvas-overlay {
   opacity: 0;
   z-index: -1;
}

.bs-canvas-overlay.show {
   opacity: 0.3;
   z-index: 1110;
}

.bs-canvas {
   top: 0;
   width: 300px;
   margin-left: -300px;
   z-index: 1110;
   overflow-x: hidden;
   overflow-y: auto;
}
.bs-canvas-left {
   left: 0;
}
.bs-canvas-anim {
   transition: all .4s ease-out;
   -webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
   -ms-transition: all .4s ease-out;
}

</style>



	{% assign h_min = page.h_min | default: 2 %}
	{% assign h_max = page.h_max | default: 4 %}                   
	<button class="btn btn-primary btn-sm rounded-right position-fixed chulapa-btn-sidebar d-none chulapa-btn-nofocus" id='demo' onclick="openSideBar()" aria-label="Open Sidebar" aria-expanded="false" aria-controls="sideBar">
		<i class="fa-solid fa-plus"></i><span class="sr-only">Open Sidebar</span>
	</button>
	<div class="bs-canvas bs-canvas-anim bs-canvas-left position-fixed navbar-chulapa h-100" id='sideBar'>
		<p class="pt-2 pb-1 px-3">
			<button type="button" class="navbar-text close chulapa-btn-nofocus" aria-label="Close" onclick="closeSideBar()">
				<i class="fa-solid fa-times"></i><span class="sr-only">Close Sidebar</span>
			</button>
		</p>
		<nav class="navbar-nav px-3 my-auto">		   <p class="mb-2" ><a class="navbar-brand" href="#">{{ page.title }}</a></p>		
			{% include components/toc.html sanitize=false html=content h_min=h_min h_max=h_max skip_no_ids=true id="sidetoc" class="nav.flex-column" item_class="nav-item.nav.d-block" anchor_class="nav-link" %}
		</nav>    
	</div>
<script>
function setupSideBar() {
  var sT = document.getElementById("sidetoc");
  var btn = document.getElementById("demo");
  var body = document.getElementById("body");
  // Create hidden overlay
  var iDiv = document.createElement("div");
  if (sT) {
    btn.classList.remove("d-none");
    btn.classList.add("has-toc");
    body.classList.add("bs-canvas-anim");
    iDiv.classList.add("bs-canvas-overlay", "bg-dark", "position-fixed",
      "w-100", "h-100");
    iDiv.setAttribute("id", "sideBarOverlay");
    iDiv.setAttribute("onclick", "closeSideBar()");
    body.prepend(iDiv);
  } else {
    document.getElementById("sideBar")
      .remove();
  }
}
window.addEventListener("load", setupSideBar);

function openSideBar() {
  var btn = document.getElementById("demo");
  var body = document.getElementById("body");
  btn.classList.add("d-none");
  btn.setAttribute("aria-expanded", "true");
  document.getElementById("sideBarOverlay")
    .classList.add("show");
  body.style.overflowX = "hidden";
  body.style.marginLeft = "300px";
  body.style.marginRight = "-300px";
  document.getElementById("sideBar")
    .style.marginLeft = "0";
}

function closeSideBar() {
  var btn = document.getElementById("demo");
  document.getElementById("sideBar")
    .removeAttribute("style");
  document.getElementById("sideBarOverlay")
    .classList.remove("show");
  document.getElementById("body")
    .removeAttribute("style");
  btn.classList.remove("d-none");
  btn.setAttribute("aria-expanded", "false");
}

</script>


			 {% if page.show_toc %} 
			               {% assign h_min = page.h_min | default: 2 %}
                           {% assign h_max = page.h_max | default: 4 %}
             <nav aria-labelledby="table-of-contents">
			 {% include components/toc.html sanitize=false html=content h_min=h_min h_max=h_max skip_no_ids=true id="toc" class="chulapa-toc-wrapper.list-group.mb-5.mx-3.mx-lg-5" item_class="list-group-item.font-weight-bold.py-1.pr-0.mr-0.chulapa-toc-reset" %}
			 </nav>
			  {% endif %}
			{{- content -}}
			</article>
		</div>
	</main>
	{%- if page.show_related -%}
	  {%- include components/related.html -%}
	{%- endif -%}
	{%- if page.show_bottomnavs -%}
	  {%- include components/navbeforeafter.html -%}
	{%- endif -%}
	{%- if page.show_categories -%}
		{% assign size = page.categories | size %}
		{% if size > 0 %}
  	{%- include components/categories.html-%}
  	{% endif %}
	{%- endif -%}
	{%- if page.show_tags -%}
		{% assign size = page.tags | size %}
		{% if size > 0 %}
	  {%- include components/tags.html-%}
	  {% endif %}
	{%- endif -%}
